openapi: 3.0.1
info:
  title: APROPLAN API
  description: This is a sample of APROPLAN API.
  termsOfService: http://swagger.io/terms/
  contact:
    name: APROPLAN support
    email: support@aproplan.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.20.0
servers:
- url: https://api.aproplan.com/rest
tags:
- name: Login
  description: necessary method to identify a user
- name: Projects
  description: Everything about the Project
- name: Documents
  description: Everything about the Document
- name: Lists
  description: Everything about the lists
- name: Annotations
  description: Common objects for Points and Forms
- name: Points
  description: Everything about the Points
- name: Forms
  description: Everything about Forms
- name: Form Synchronization
  description: Everything about Forms
- name: Form Templates
  description: Everything about Form Templates
- name: Companies
  description: Everything about the managed companies
- name: Reports
  description: Everything about the reports
paths:
  /loginsecure:
    post:
      tags:
      - Login
      summary: "to identify a user and then, to be able to make other call in the\
        \ api"
      operationId: loginSecure
      parameters:
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        content:
          'appliation/json':
            schema:
              $ref: '#/components/schemas/AliasPass'
        required: false
      responses:
        "200":
          description: Successful operation returning a new TokenInfo object with
            the new valid token to use
          content:
            'appliation/json':
              schema:
                $ref: '#/components/schemas/TokenInfo'
      x-codegen-request-body-name: body
  /renewtoken:
    get:
      tags:
      - Login
      summary: Permit to request a new token to identify the user before the current
        one becomes invalidate.
      operationId: renewToken
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: t
        in: query
        description: the current valid token received at the login or a previous renew
          token
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning a new TokenInfo object with
            the new valid token to use
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TokenInfo'
  /simpleloginsecure:
    post:
      tags:
      - Login
      summary: Low cost user authentication in order to be able to use further endpoints.
      operationId: simpleLoginSecure
      parameters:
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AliasPass'
        required: false
      responses:
        "200":
          description: Successful operation returning a new TokenInfo object with
            the new valid token to use.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/User'
      x-codegen-request-body-name: body
  /users:
    post:
      tags:
      - Login
      summary: Create an account in APROPLAN
      description: |-
        To create an new user in aproplan, it is necessary to send the user object with at least the following properties of User object * Id * Alias * DisplayName * Person
          * Id
          * Code
          * Name
          * LanguageCode
          * Country
            * Id
        * LanguageCode
      operationId: createUser
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      requestBody:
        description: "Need an object with 2 properties: User and Pass"
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/UserPass'
        required: false
      responses:
        "200":
          description: Successful operation
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/User'
      x-codegen-request-body-name: body
  /countrycount:
    get:
      tags:
      - IdentFiles
      summary: Return the count of country available to the current user
      operationId: getCountryCount
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of country corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /countries:
    get:
      tags:
      - IdentFiles
      summary: Return the list of country available to the current user
      operationId: getCountry
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of country corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
    put:
      tags:
      - IdentFiles
      summary: To update country in the cloud APROPLAN
      operationId: putCountry
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      requestBody:
        description: This is the array of country to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Country'
        required: false
      responses:
        "200":
          description: Successful operation to update array of country in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
      x-codegen-request-body-name: body
    post:
      tags:
      - IdentFiles
      summary: To create new country in the cloud APROPLAN
      operationId: postCountry
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      requestBody:
        description: This is the array of country to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Country'
        required: false
      responses:
        "200":
          description: Successful operation to create new country array in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
      x-codegen-request-body-name: body
    delete:
      tags:
      - IdentFiles
      summary: To delete items of country in the cloud APROPLAN
      operationId: deleteCountry
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      requestBody:
        description: Array of country id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of country
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /countriesids:
    get:
      tags:
      - IdentFiles
      summary: Return the list of id corresponding to the country available to the
        current user
      operationId: getCountryIds
      parameters:
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of country corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /languagecount:
    get:
      tags:
      - IdentFiles
      summary: Return the count of language available to the current user
      operationId: getLanguageCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of language corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /languages:
    get:
      tags:
      - IdentFiles
      summary: Return the list of language available to the current user
      operationId: getLanguage
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of language corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
    put:
      tags:
      - IdentFiles
      summary: To update language in the cloud APROPLAN
      operationId: putLanguage
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of language to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Language'
        required: false
      responses:
        "200":
          description: Successful operation to update array of language in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
      x-codegen-request-body-name: body
    post:
      tags:
      - IdentFiles
      summary: To create new language in the cloud APROPLAN
      operationId: postLanguage
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of language to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Language'
        required: false
      responses:
        "200":
          description: Successful operation to create new language array in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
      x-codegen-request-body-name: body
    delete:
      tags:
      - IdentFiles
      summary: To delete items of language in the cloud APROPLAN
      operationId: deleteLanguage
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of language id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of language
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /languagesids:
    get:
      tags:
      - IdentFiles
      summary: Return the list of id corresponding to the language available to the
        current user
      operationId: getLanguageIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of language
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /professioncount:
    get:
      tags:
      - IdentFiles
      summary: Return the count of profession available to the current user
      operationId: getProfessionCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of profession corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /professions:
    get:
      tags:
      - IdentFiles
      summary: Return the list of profession available to the current user
      operationId: getProfession
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of profession corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profession'
    put:
      tags:
      - IdentFiles
      summary: To update profession in the cloud APROPLAN
      operationId: putProfession
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of profession to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Profession'
        required: false
      responses:
        "200":
          description: Successful operation to update array of profession in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profession'
      x-codegen-request-body-name: body
    post:
      tags:
      - IdentFiles
      summary: To create new profession in the cloud APROPLAN
      operationId: postProfession
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of profession to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Profession'
        required: false
      responses:
        "200":
          description: Successful operation to create new profession array in the
            cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profession'
      x-codegen-request-body-name: body
    delete:
      tags:
      - IdentFiles
      summary: To delete items of profession in the cloud APROPLAN
      operationId: deleteProfession
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of profession id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of profession
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /professionsids:
    get:
      tags:
      - IdentFiles
      summary: Return the list of id corresponding to the profession available to
        the current user
      operationId: getProfessionIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of profession
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /accountdata:
    get:
      tags:
      - Actors
      summary: Return account information with optional additional information.
      operationId: getAccountData
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: usagepackage
        in: query
        description: "Includes usage package information, if any."
        schema:
          type: boolean
      - name: license
        in: query
        description: "Includes license information, if any."
        schema:
          type: boolean
      - name: licenseaccess
        in: query
        description: "Includes license access information, if any."
        schema:
          type: boolean
      - name: userpreferences
        in: query
        description: "Includes user preferences information, if any."
        schema:
          type: boolean
      - name: massexportconfiguration
        in: query
        description: "Includes mass export configuration information, if any."
        schema:
          type: boolean
      - name: documentsoriginalsize
        in: query
        description: "Includes the orignal size documents, if any."
        schema:
          type: boolean
      - name: information
        in: query
        description: "Includes detailed information, if any."
        schema:
          type: boolean
      - name: tutorialcodes
        in: query
        description: "Includes the various followed tutorials, if any."
        schema:
          type: boolean
      - name: phones
        in: query
        description: "Includes phones information, if any."
        schema:
          type: boolean
      - name: emails
        in: query
        description: "Includes emails information, if any."
        schema:
          type: boolean
      - name: companyinfo
        in: query
        description: "Includes company information, if any."
        schema:
          type: boolean
      responses:
        "200":
          description: Successful operation
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/User'
  /phonecount:
    get:
      tags:
      - Actors
      summary: Return the count of phone available to the current user
      operationId: getPhoneCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of phone corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /phones:
    get:
      tags:
      - Actors
      summary: Return the list of phone available to the current user
      operationId: getPhone
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of phone corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Phone'
    put:
      tags:
      - Actors
      summary: To update phone in the cloud APROPLAN
      operationId: putPhone
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of phone to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Phone'
        required: false
      responses:
        "200":
          description: Successful operation to update array of phone in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Phone'
      x-codegen-request-body-name: body
    post:
      tags:
      - Actors
      summary: To create new phone in the cloud APROPLAN
      operationId: postPhone
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of phone to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Phone'
        required: false
      responses:
        "200":
          description: Successful operation to create new phone array in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Phone'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Actors
      summary: To delete items of phone in the cloud APROPLAN
      operationId: deletePhone
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of phone id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of phone corresponding
            to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /phonesids:
    get:
      tags:
      - Actors
      summary: Return the list of id corresponding to the phone available to the current
        user
      operationId: getPhoneIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of phone corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /personcount:
    get:
      tags:
      - Actors
      summary: Return the count of person available to the current user
      operationId: getPersonCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of person corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /persons:
    get:
      tags:
      - Actors
      summary: Return the list of person available to the current user
      operationId: getPerson
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of person corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
    put:
      tags:
      - Actors
      summary: To update person in the cloud APROPLAN
      operationId: putPerson
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of person to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Person'
        required: false
      responses:
        "200":
          description: Successful operation to update array of person in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
      x-codegen-request-body-name: body
    post:
      tags:
      - Actors
      summary: To create new person in the cloud APROPLAN
      operationId: postPerson
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of person to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Person'
        required: false
      responses:
        "200":
          description: Successful operation to create new person array in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Actors
      summary: To delete items of person in the cloud APROPLAN
      operationId: deletePerson
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of person id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of person
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /personsids:
    get:
      tags:
      - Actors
      summary: Return the list of id corresponding to the person available to the
        current user
      operationId: getPersonIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of person corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /userstatisticscount:
    get:
      tags:
      - Actors
      summary: Return the count of userstatistics available to the current user
      operationId: getUserstatisticsCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of userstatistics
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /userstatistics:
    get:
      tags:
      - Actors
      summary: Return the list of userstatistics available to the current user
      operationId: getUserstatistics
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of userstatistics
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserStatistics'
  /userstatisticsids:
    get:
      tags:
      - Actors
      summary: Return the list of id corresponding to the userstatistics available
        to the current user
      operationId: getUserstatisticsIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of userstatistics
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /monthlystatisticscount:
    get:
      tags:
      - Actors
      summary: Return the count of monthlystatistics available to the current user
      operationId: getMonthlystatisticsCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of monthlystatistics
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /monthlystatistics:
    get:
      tags:
      - Actors
      summary: Return the list of monthlystatistics available to the current user
      operationId: getMonthlystatistics
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of monthlystatistics
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MonthlyStatistics'
  /monthlystatisticsids:
    get:
      tags:
      - Actors
      summary: Return the list of id corresponding to the monthlystatistics available
        to the current user
      operationId: getMonthlystatisticsIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The project Id on which the entity depends.
        required: true
        schema:
          type: string
          format: uuid
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of monthlystatistics
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /managedcompanycount:
    get:
      tags:
      - Companies
      summary: Return the count of managedcompany available to the current user
      operationId: getManagedcompanyCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of managedcompany
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /managedcompanies:
    get:
      tags:
      - Companies
      summary: Return the list of managedcompany available to the current user
      operationId: getManagedcompany
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of managedcompany
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ManagedCompany'
    put:
      tags:
      - Companies
      summary: To update managedcompany in the cloud APROPLAN
      operationId: putManagedcompany
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of managedcompany to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ManagedCompany'
        required: false
      responses:
        "200":
          description: Successful operation to update array of managedcompany in the
            cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ManagedCompany'
      x-codegen-request-body-name: body
    post:
      tags:
      - Companies
      summary: To create new managedcompany in the cloud APROPLAN
      operationId: postManagedcompany
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of managedcompany to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ManagedCompany'
        required: false
      responses:
        "200":
          description: Successful operation to create new managedcompany array in
            the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ManagedCompany'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Companies
      summary: To delete items of managedcompany in the cloud APROPLAN
      operationId: deleteManagedcompany
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of managedcompany id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of managedcompany
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /managedcompaniesids:
    get:
      tags:
      - Companies
      summary: Return the list of id corresponding to the managedcompany available
        to the current user
      operationId: getManagedcompanyIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of managedcompany
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /companyusercount:
    get:
      tags:
      - Companies
      summary: Return the count of companyuser available to the current user
      operationId: getCompanyuserCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of companyuser corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /companyusers:
    get:
      tags:
      - Companies
      summary: Return the list of companyuser available to the current user
      operationId: getCompanyuser
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of companyuser corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUser'
    put:
      tags:
      - Companies
      summary: To update companyuser in the cloud APROPLAN
      operationId: putCompanyuser
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of companyuser to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CompanyUser'
        required: false
      responses:
        "200":
          description: Successful operation to update array of companyuser in the
            cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUser'
      x-codegen-request-body-name: body
    post:
      tags:
      - Companies
      summary: To create new companyuser in the cloud APROPLAN
      operationId: postCompanyuser
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of companyuser to create through the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CompanyUser'
        required: false
      responses:
        "200":
          description: Successful operation to create new companyuser array in the
            cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUser'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Companies
      summary: To delete items of companyuser in the cloud APROPLAN
      operationId: deleteCompanyuser
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of companyuser id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of companyuser
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /companyusersids:
    get:
      tags:
      - Companies
      summary: Return the list of id corresponding to the companyuser available to
        the current user
      operationId: getCompanyuserIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of companyuser
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /companyusersync:
    get:
      tags:
      - Companies
      summary: "Return the list of companyuser created, deleted or added from a specific\
        \ date if specified (The CRUD action can be on the entity himself or one of\
        \ linked detail entity).  The collection returned contains all detail entities\
        \ and contains also entities deleted"
      operationId: getCompanyuserSync
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: requestedBlockSize
        in: query
        schema:
          type: number
      - name: timestamp
        in: query
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: Successful operation returning the array of companyuser for
            which a modification has been done from the specific date
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUser'
  /companyuserinvitationrequestcount:
    get:
      tags:
      - Companies
      summary: Return the count of companyuserinvitationrequest available to the current
        user
      operationId: getCompanyuserinvitationrequestCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of companyuserinvitationrequest
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /companyuserinvitationrequests:
    get:
      tags:
      - Companies
      summary: Return the list of companyuserinvitationrequest available to the current
        user
      operationId: getCompanyuserinvitationrequest
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of companyuserinvitationrequest
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserInvitationRequest'
    put:
      tags:
      - Companies
      summary: To update companyuserinvitationrequest in the cloud APROPLAN
      operationId: putCompanyuserinvitationrequest
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of companyuserinvitationrequest to update in
          the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CompanyUserInvitationRequest'
        required: false
      responses:
        "200":
          description: Successful operation to update array of companyuserinvitationrequest
            in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserInvitationRequest'
      x-codegen-request-body-name: body
    post:
      tags:
      - Companies
      summary: To create new companyuserinvitationrequest in the cloud APROPLAN
      operationId: postCompanyuserinvitationrequest
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of companyuserinvitationrequest to create through
          the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CompanyUserInvitationRequest'
        required: false
      responses:
        "200":
          description: Successful operation to create new companyuserinvitationrequest
            array in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserInvitationRequest'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Companies
      summary: To delete items of companyuserinvitationrequest in the cloud APROPLAN
      operationId: deleteCompanyuserinvitationrequest
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: Array of companyuserinvitationrequest id to delete from the cloud
        content:
          'application/json':
            schema:
              type: array
              example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successful operation meaning all specified items of companyuserinvitationrequest
            corresponding to ids in parameters are deleted from the cloud
          content:
            'application/json':
              schema:
                type: string
                example: success
      x-codegen-request-body-name: body
  /companyuserinvitationrequestsids:
    get:
      tags:
      - Companies
      summary: Return the list of id corresponding to the companyuserinvitationrequest
        available to the current user
      operationId: getCompanyuserinvitationrequestIds
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of id of companyuserinvitationrequest
            corresponding to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: string
  /projectcount:
    get:
      tags:
      - Projects
      summary: Return the count of project available to the current user
      operationId: getProjectCount
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the number of project corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: number
  /projects:
    get:
      tags:
      - Projects
      summary: Return the list of project available to the current user
      operationId: getProject
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      - name: filter
        in: query
        description: This is the filter to apply to retrieve the list of entities
          available for the current user
        schema:
          type: string
      - name: pathtoload
        in: query
        description: This is the pathtoload to know which related entities we need
          to retrieve in the call
        schema:
          type: string
      responses:
        "200":
          description: Successful operation returning the array of project corresponding
            to the queries parameters
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    put:
      tags:
      - Projects
      summary: To update project in the cloud APROPLAN
      operationId: putProject
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
        in: query
        description: this is the token you received from aproplan to identify as a
          user of the APROPLAN API
        required: true
        schema:
          type: string
      - name: dateformat
        in: query
        description: to specify how date must be formatted
        schema:
          type: string
          default: microsoft
          enum:
          - microsoft
          - iso
      requestBody:
        description: This is the array of project to update in the cloud
        content:
          'application/json':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Project'
        required: false
      responses:
        "200":
          description: Successful operation to update array of project in the cloud
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      x-codegen-request-body-name: body
    post:
      tags:
      - Projects
      summary: To create new project in the cloud APROPLAN
      operationId: postProject
      parameters:
      - name: t
        in: query
        description: the token to call the api method
        required: true
        schema:
          type: string
      - name: v
        in: query
        description: the version of the API V1 to use
        required: true
        schema:
          type: string
      - name: requesterid
[...]
